html body{
    background-color: #141414;
    margin: 15px;
}

.menu{
    display: flex;
}

.header{
    height: 60px;
    display: flex;
}

.content{
    display: flex;
}

.sidebar{
    background-color: black;
    height: calc(100vh - 85px);
    width: calc(100vh - 27%);
    padding: 20px;
    box-sizing: border-box;

    border-radius: 20px;
}

.searchNbutton{
    display: flex;
}

.search_box{
    background-color: #141414;
    height: calc(100vh - 95vh);
    width: calc(100vh - 70vh);
    border-radius: 40px;
    margin: auto;
    cursor: pointer;
}

.search_box svg{
    margin-top: 6px;
    margin-left: 6px;
    width: 30px;
    height: 30px;
}

.create_button{
    background: linear-gradient(145deg, #efe35f 35%, #e8af4c 55%);
    height: calc(100vh - 95vh);
    width: calc(100vh - 95vh);
    border-radius: 100%;
    margin: auto;
    cursor: pointer;
}

.create_button:hover{
    background: linear-gradient(145deg, #f9e863 35%, #efb44f 55%);
}

.notes{
    background-color: black;
    height: calc(100vh - 85px);
    width: calc(100% - calc(100vh - 27%));
    box-sizing: border-box;
    margin-left: 15px;
    border-radius: 20px;
}
